{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">Badkur's Bar & Restro </h1>
        <ul class="nav-links">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li class="active"><a href="{% url 'services' %}">Services</a></li>
            <li class="active"><a href="{% url 'blogs' %}">Blogs</a></li>
            <li><a class="ctn" href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

        {% block content %}
        <h1> base</h1>
        {% endblock %}

<section class="footer">
    <p>Saket Nagar | Bhopal | Phone: 6260500989 | Email: siddharthbadkur@gmail.com</p>
    <p>Copyright @ 2024 Tom's Bar & Restro </p>
</section>


    
</body>
</html>