{% extends 'base.html' %}
{% load static %}

    {% block content %}
 <section id="services">
    <div class="container2">
        <div class="section-title">
            <h1>Our services</h1>
            <div class="line"></div>
        </div>
        <div class="services">
            <div class="service">
                <img src="{% static 'images/service.jpg' %}" alt="">
                <h3>Disco Nights </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus eos enim nam nihil laborum
                    </p>
            </div>
            <div class="service">
                <img src="{% static 'images/service-1.jpg' %}" alt="">
                <h3>Birthday parties</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="service">
                <img src="{% static 'images/service-2.jpg' %}" alt="">
                <h3>Meetings</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus eos enim nam nihil laborum, 
                    </p>
            </div>


        </div>
    </div>
 </section> 
 
 
<section class="flex">
<div class="btnimg">
    <p class="text">LET'S GET RFEADY TO TUMBLE...
        Don't raise the bar and narrow the gap , but narrow the gap to raise the bar..<br>
        <br>
        By - Will Gleason

        </p> 

    <p class="text2">RISE FOR A MORE EQUAL WORLD
        The zero-waste approach at Mahindra festivals exemplifies our commitment to sustainability.</p>
</div>
</section>
  {% endblock %}
